.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  margin-right: 10px;
}

.checkbox-container.disabled {
  opacity: 0.6;
  pointer-events: none;
}
