:host ::ng-deep app-tabs {
    display: block;
    margin-top: 30px ;
  }

.selected_account {
    display: block;
    margin-top: 5px ;
}

.title_info_consumer_unit {
    display: block;
    margin-bottom: 20px;
}

.form_container{
    display: flex;
    gap: 2rem;
}
.basic_info {
    flex: 1;
    min-width: 300px;
}
.images_area {
    flex: 1;
    background: red;
    min-width: 300px;
}

.container_location {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.document_container {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
    min-width: 0;
}

.document_container > * {
    flex: 1 1 0; 
    min-width: 0;
}

.container_info_installation {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
    min-width: 0;
}

.container_info_installation > * {
    flex: 1 1 0; /* Distribuição igualitária */
    min-width: 0; /* Permite que os itens encolham */
}




.map_location,
.inputs_location {
    flex: 1;
    /* Faz ambas as divs crescerem igualmente */
    min-width: 300px;
    /* Largura mínima antes de quebrar */
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    .form_container {
        flex-direction: column;
    }

    
    .images_area {
        width: 100%;
        min-width: auto;
    }

    .document_container {
        flex-wrap: wrap;
    }

    .document_container>* {
        flex: 100%;
        /* Empilha os elementos em telas pequenas */
    }
}