<app-text text="Unidade Consumidora" size="large">
</app-text>

<app-tabs [tabs]="['Informações Básicas', 'Monitoramento Mensal', 'Carga e Consumo','Geração']" size="medium">
  <!-- Tab 1: Informações Básicas -->
  <ng-template #appCustomTab>

    <div style="display: flex; gap: 10px;">
      <app-input-date placeholder="Data de Início" [control]="form.get('startDate')!" [isRequired]="true" />
      <app-input-date placeholder="Data de Fim" [control]="form.get('endDate')!" alertText="Data com alert" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Campo não obrigatório -->
      <app-input-text placeholder="Campo opcional" size="medium" type="text"
        [control]="form.get('optionalField')!"></app-input-text>

      <!-- Campo obrigatório com mais de 3 caracteres -->
      <app-input-text placeholder="Campo obrigatório" alertText="Deve ter mais de 3 caracteres" size="medium"
        type="text" [isRequired]="true" [control]="form.get('requiredField')!"></app-input-text>

      <!-- Campo com validação personalizada (deve ser 'batata') -->
      <app-input-text placeholder="Digite 'batata'" alertText="Deve ser 'batata'" size="medium" type="text"
        [control]="form.get('batataField')!"></app-input-text>

      <app-dropdown [options]="listAccounts" placeholder="Selecione" [isRequired]="true"
        [control]="form.get('campo')!"></app-dropdown>


      <app-image-upload [maxFiles]="5" [maxFileSize]="2" [acceptedFormats]="['image/jpeg', 'image/png']"
        formControlName="images"></app-image-upload>


      <app-pdf-upload [maxFiles]="3" [maxFileSize]="10" formControlName="documents"></app-pdf-upload>

      <app-map-picker [title]="'Geo de teste'" [markerIconUrl]="'assets/icons/ic_marker_consumer_unit.svg'"
        formControlName="location"></app-map-picker>

      <p>Endereço completo: {{ form.get('location')?.value?.address }}</p>
      <p>Coordenadas: {{ form.get('location')?.value?.lat }}, {{ form.get('location')?.value?.lng }}</p>

    </form>
    <!-- Switch -->
    <app-switch label="Textinho" (toggleChanged)="onToggle($event)"></app-switch>

    <!-- Divider -->
    <app-divider type="small"></app-divider>

  </ng-template>

  <!-- Tab 2: Monitoramento Mensal -->
  <ng-template #appCustomTab>
    <p>Conteúdo da Tab 2</p>



  </ng-template>

  <!-- Tab 3: Carga e Consumo -->
  <ng-template #appCustomTab>
    <p>Conteúdo da Tab 3</p>
  </ng-template>

  <!-- Tab 4: Geração -->
  <ng-template #appCustomTab>
    <p>Conteúdo da Tab 4</p>
  </ng-template>
</app-tabs>

<app-button class="bottom" mode="primary" size="large" [text]="'Salvar'" (clicked)="onClickLogin()">
</app-button>