:host ::ng-deep app-tabs {
    display: block;
    margin-top: 30px ;
  }

.selected_account {
    display: block;
    margin-top: 5px ;
}

.title_info_consumer_unit {
    display: block;
    margin-bottom: 20px;
}

.form_container{
    display: flex;
    gap: 2rem;
}
.basic_info {
    flex: 1;
    min-width: 300px;
}
.images_area {
    flex: 1;
    min-width: 300px;
}

.info_creation {
    width: 50%; /* Ocupa metade da largura disponível */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaço entre elementos filhos */
    height: 100%; /* Preenche a altura disponível */
  }
  
  .info_creation_line {
    display: flex;
    gap: 1rem;
    flex: 1; /* Cada linha ocupa igualmente o espaço vertical restante */
  }
  
  .info_creation_line app-input-text {
    flex: 1; /* Campos ocupam espaço igual na linha */
    min-width: 0; /* Permite que os campos reduzam abaixo de seu tamanho mínimo */
  }

  .container_infra {
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaço entre as linhas */
  }
  
  .infra_creation_line {
    display: flex;
    gap: 1rem; /* Espaço entre os componentes dentro da linha */
  }
  
  .infra_creation_line > * {
    flex: 1; /* Faz com que todos os componentes dentro da linha tenham largura igual */
    min-width: 0; /* Permite que os componentes reduzam abaixo de seu tamanho mínimo, se necessário */
  }

  
.container_location {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.inputs_location {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .full-width-line,
  .half-width-line,
  .third-width-line {
    display: flex;
    gap: 1rem;
  }
  
  .half-width-line {
    justify-content: space-between;
  }
  
  .half-width {
    width: calc(50% - 0.5rem);
  }
  
  .third-width-line {
    justify-content: space-between;
  }
  
  .third-width {
    width: calc(33.3% - 0.66rem);
  }
  
  .full-width-line > app-input-text {
    width: 100%;
  }
  

.document_container {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
    min-width: 0;
}

.document_container > * {
    flex: 1 1 0; 
    min-width: 0;
}

.container_info_installation {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex: 1;
    min-width: 0;
}

.container_info_installation > * {
    flex: 1 1 0; /* Distribuição igualitária */
    min-width: 0; /* Permite que os itens encolham */
}




.map_location,
.inputs_location {
    flex: 1;
    /* Faz ambas as divs crescerem igualmente */
    min-width: 300px;
    /* Largura mínima antes de quebrar */
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    .form_container {
        flex-direction: column;
    }

    
    .images_area {
        width: 100%;
        min-width: auto;
    }

    .document_container {
        flex-wrap: wrap;
    }

    .document_container>* {
        flex: 100%;
        /* Empilha os elementos em telas pequenas */
    }
}