<app-text 
  text="Unidade Consumidora" 
  size="large">
</app-text>

<app-tabs [tabs]="['Informações Básicas', 'Monitoramento Mensal', 'Carga e Consumo','Geração']" size="medium">
  <!-- Tab 1: Informações Básicas -->
  <ng-template #appCustomTab>
  
    
  <app-input-text
    placeholder="Nome da Unidade"
    alertText="Este campo é obrigatório"
    [isRequired]="true"
    [(ngModel)]="unitName"
    name="unitName"
  ></app-input-text>
      <!-- Switch -->
      <app-switch label="Textinho" (toggleChanged)="onToggle($event)"></app-switch>

      <!-- Divider -->
      <app-divider type="small"></app-divider>

  </ng-template>

  <!-- Tab 2: Monitoramento Mensal -->
  <ng-template #appCustomTab>
    <p>Conteúdo da Tab 2</p>
  </ng-template>

  <!-- Tab 3: Carga e Consumo -->
  <ng-template #appCustomTab>
    <p>Conteúdo da Tab 3</p>
  </ng-template>

  <!-- Tab 4: Geração -->
  <ng-template #appCustomTab>
    <p>Conteúdo da Tab 4</p>
  </ng-template>
</app-tabs>

<app-button 
  class="bottom" 
  mode="primary" 
  size="large" 
  [text]="'Salvar'" 
  (clicked)="onClickLogin()">
</app-button>