hr {
  border: 0;
  background-color: var(--gray-200); /* Cor padrão */
}

/* Alturas baseadas no tipo */
.small {
  height: 1px;
}

.medium {
  height: 2px;
}

.large {
  height: 4px;
}

/* Espessuras da linha */
.thick {
  border-width: 2px;
}

.extra-thick {
  border-width: 4px;
}