<div class="radio-group-container">
  <label *ngIf="label" class="radio-group-label">{{ label }}</label>
  <div class="radio-options">
    <label *ngFor="let option of options" class="radio-option">
      <input 
        type="radio" 
        [name]="label" 
        [value]="option.value" 
        [checked]="selectedValue === option.value" 
        [disabled]="disabled" 
        (change)="onSelect(option.value)"
      >
      <span class="radio-label">{{ option.label }}</span>
    </label>
  </div>
</div>