<div class="dialog-container" *ngIf="isVisible">
  <div class="dialog" [ngClass]="dialogClass">
    <div class="header">
      <div class="icon-container">
        <app-svg-icon 
        class="icon" 
        [svgUrl]="iconPath" 
        [color]="typeColor">
      </app-svg-icon>
      </div>
    </div>
    
    <div class="content">
      <app-text [text]="title" size="large" [bold]="true" [color]="'var(--gray-900)'"></app-text>
      <app-text *ngIf="subtitle" [text]="subtitle" size="medium" [color]="'var(--gray-800)'"></app-text>
    </div>

    <div class="actions">
      <!-- Botão negativo (condicional) -->
      <app-button 
        *ngIf="negativeButton"
        class="action-button"
        mode="secondary" 
        size="medium" 
        [text]="negativeButton.label"
        (clicked)="onNegativeClick()">
      </app-button>

      <!-- Botão positivo (condicional) -->
      <app-button 
        *ngIf="positiveButton"
        class="action-button"
        mode="primary" 
        [buttonColor]="typeColor"
        size="medium" 
        [text]="positiveButton.label"
        (clicked)="onPositiveClick()">
      </app-button>
    </div>
  </div>
</div>