* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

/* Lado esquerdo */
.left-side {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay-text {
  text-align: left;
  padding: 20px;
  width: 100%;
  font-size: 1rem;
  font-family: Arial;
}

.overlay-title {
  font-size: 50px;
  color: white;
  font-family: Arial;
}

.overlay-description {
  font-size: 25px;
  margin-top: 20px;
  color: white;
  font-family: Arial;
}

.overlay-footer {
  color: white;
  position: absolute;
  font-family: Arial;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Lado direito */
.right-side {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 180px;
  margin-bottom: 10px;
  align-self: center;
  margin-top: 80px;
  transition: all 0.3s ease;
}

h2 {
  align-self: flex-start;
  margin-top: 60px;
  text-align: left;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}

.custom-form-field {
  margin-bottom: 20px;
  position: relative;
}

.input-container {
  position: relative;
  margin-top: 20px;
}

.input-container label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-600);
  font-size: 16px;
  transition: all 0.3s ease;
  pointer-events: none;
  background: var(--background-color);
  padding: 0 4px;
}

.input-container input {
  width: 100%;
  padding: 14px;
  border: 1px solid var(--gray-800);
  border-radius: 4px;
  font-size: 16px;
  color: var(--color-primary);
  background-color: var(--background-color);
  transition: all 0.3s ease;
}

.input-container input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--color-primary);
}

.password-input-container {
  position: relative;
}


.invisible_button, .visible_button {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-link {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  color: var(--color-primary);
  font-family: Arial;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: var(--red-500);
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.register-text {
  margin-top: 20px;
  font-size: 16px;
  font-family: Arial;
}

.register-text a {
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
}

.company-text {
  position: absolute;
  align-self: center;
  bottom: 0;
  font-family: Arial;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Responsividade */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .left-side {
    height: 250px;
  }

  .right-side {
    padding: 25px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .logo {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .left-side {
    display: none;
  }

  .right-side {
    height: 100vh;
    justify-content: center;
  }

  .logo {
    width: 140px;
    margin-top: 80px;
  }
}