.toggle-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid var(--color-primary);
}

.slider:before {
  position: absolute;
  content: "";
  background-color: var(--black);
  transition: 0.4s;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

input:checked+.slider {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

input:checked+.slider:before {
  background-color: var(--white);
}

.toggle-text {
  margin-left: 10px;
  font-size: 1rem;
}

/* Tamanhos de texto */
.toggle-container.small .toggle-text {
  font-size: 0.875rem;
  /* 14px */
}

.toggle-container.medium .toggle-text {
  font-size: 1rem;
  /* 16px */
}

.toggle-container.large .toggle-text {
  font-size: 1.125rem;
  /* 18px */
}

/* Tamanho small (40x24) - mantido arredondado */
.toggle-container.small .switch {
  width: 40px;
  height: 24px;
}

.toggle-container.small .slider:before {
  height: 18px;
  width: 18px;
  left: 1px;
}

.toggle-container.small input:checked+.slider:before {
  transform: translateX(16px) translateY(-50%);
}

/* Tamanho medium (56x32) */
.toggle-container.medium .switch {
  width: 50px;
  height: 28px;
}

.toggle-container.medium .slider:before {
  height: 20px;
  width: 20px;
  left: 1px;
}

.toggle-container.medium input:checked+.slider:before {
  transform: translateX(24px) translateY(-50%);
}

/* Tamanho large (56x32) */
.toggle-container.large .switch {
  width: 56px;
  height: 32px;
}

.toggle-container.large .slider:before {
  height: 24px;
  width: 24px;
  left: 2px;
}

.toggle-container.large input:checked+.slider:before {
  transform: translateX(24px) translateY(-50%);
}