<div class="container">
  <app-text class="title_create" text="Lista de Unidades Consumidoras" size="large"></app-text>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-dropdown class="selected_account" [options]="listAccounts"
      placeholder="Selecione a conta referente a unidade consumidora" [size]="'medium'"
      [control]="form.get('selected_account')!" formControlName="selected_account"></app-dropdown>
  
  </form>
  
  <app-simple-table [data]="consumerUnitData" [columns]="tableColumns" [totalItems]="totalItems" [pageSize]="pageSize"
    [currentPage]="currentPage" [crudEnabled]="true" (onAdd)="handleAdd()" (onEdit)="handleEdit($event)"
    (onDelete)="handleDelete($event)" (onSelect)="handleSelect($event)" (onBulkDelete)="handleBulkDelete($event)"
    (pageChanged)="handlePageChange($event)">
  </app-simple-table>

</div>


<app-notification></app-notification>

<app-loading [isLoading]="isLoading"></app-loading>

<app-message-dialog #messageDialog></app-message-dialog>