<app-text text="Lista de Unidades Consumidoras" size="large">
</app-text>

<app-loading 
  [isLoading]="isLoading" >

</app-loading>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-dropdown 
  [options]="accountOptions" 
  placeholder="Selecione a conta" 
  [control]="form.get('selected_account')!"
  ></app-dropdown>

</form>

<app-simple-table
  [data]="consumerUnitData"
  [columns]="tableColumns"
  [totalItems]="totalItems" 
  [pageSize]="pageSize"     
  [currentPage]="currentPage" 
  [crudEnabled]="true"
  (onAdd)="handleAdd()"
  (onEdit)="handleEdit($event)"
  (onDelete)="handleDelete($event)"
  (onSelect)="handleSelect($event)"
  (onBulkDelete)="handleBulkDelete($event)"
  (pageChanged)="handlePageChange($event)"> 
</app-simple-table>


<app-notification></app-notification>
