.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dropdown-list {
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: var(--background-color);
  margin-top: 4px;
  z-index: 1000;
  box-sizing: content-box;
}

.floating-label {
  position: relative;
  display: relative;
  align-items: center;
  width: 100%;
}

.dropdown-arrow {
  position: absolute;
  width: 25px;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  right: 10px;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.dropdown-option span {
  margin-left: 8px;
  display: inline-block;
}

.rotated {
  transform: translateY(-50%) rotate(180deg);
}

.hint {
  color: var(--gray-500);
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-indent: 15px;
  background: transparent;
  width: 100%;
  color: var(--text-color);
  caret-color: var(--text-color);
  cursor: pointer;
}

label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  pointer-events: none;
  background: var(--background-color);
  padding: 0 4px;
}

label.float {
  top: -8px;
  font-size: 0.90rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transform: translateY(0);
}

.dropdown-option {
  padding: 8px 8px;
  gap: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-option:hover {
  background: var(--gray-700);
  color: var(--white);
}

.hint-container {
  margin-top: 4px;
}

.hint-text {
  font-size: 0.75rem;
  color: #666;
}

.footer-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.ic-alert {
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 16px;
  width: 16px;
}

.alert-text {
  font-size: 0.75rem;
  color: #666;
}

.required-text {
  font-size: 0.75rem;
  color: var(--red-700);
}

.input-container.small input {
  height: 30px;
  font-size: 0.875rem;
}

.input-container.medium input {
  height: 40px;
}

.input-container.large input {
  height: 50px;
  font-size: 1.125rem;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.checkbox-input:checked {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}

.checkbox-input:checked::after {
  content: "";
  display: block;
  width: 12px;
  height: 6px;
  border: 2px solid var(--white);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  opacity: 1;
}

.checkbox-input {
  width: 16px !important;
  height: 16px !important;
}

.checkbox-input:checked::after {
  width: 8px;
  height: 4px;
  top: 45%;
}

.dropdown-option:hover .checkbox-input:not(:checked) {
  border-color: var(--color-primary);
  background-color: rgba(var(--color-primary-rgb), 0.1);
}

.dropdown-option:hover .checkbox-input:checked {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}