.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.floating-label {
  position: relative;
  display: inline-block;
  width: 100%;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-indent: 15px;
  background: transparent;
  width: 100%;
  outline: none;
  color: var(--text-color);
  caret-color: var(--text-color);
}

label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  pointer-events: none;
  background: var(--background-color);
  /* Fundo para cobrir a borda do input */
  padding: 0 4px;
}

label.float {
  top: -8px;
  /* Ajuste para subir um pouco mais */
  font-size: 0.90rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transform: translateY(0);
}

.hint-container {
  margin-top: 4px;
}

.hint {
  color: var(--gray-500);
}

.footer-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.ic-alert {
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 16px;
  width: 16px;
}

.alert-text {
  font-size: 0.75rem;
  color: var(--gray-700);
}

.required-text {
  font-size: 0.75rem;
  color: var(--red-700);
}

/* Tamanhos */
.input-container.small input {
  height: 32px;
  font-size: 0.875rem;
}

.input-container.medium input {
  height: 40px;
}

.input-container.large input {
  height: 48px;
  font-size: 1.125rem;
}