<div class="input-container" [class]="size">
  <div class="floating-label">
    <input
    #inputText
      [type]="type"
      [value]="value"
      (input)="onInputChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [mask]="mask"
      [disabled]="disabled"
    />
    <label class="hint" [class.float]="shouldLabelFloat()">{{ placeholder }}</label>
  </div>

  <!-- Exibe o container de erro se o controle for inválido -->
  <div class="footer-container" *ngIf="showErrorContainer">
    <app-svg-icon class="ic-alert" svgUrl="/assets/icons/ic_warning.svg" color="var(--red-700)"/>
    <span class="required-text">
      Campo obrigatório
    </span>
  </div>

  <div class="footer-container" *ngIf="alertText">
    <app-svg-icon class="ic-alert" svgUrl="/assets/icons/ic_help.svg" color="var(--gray-700)"/>
    <span class="alert-text">
      {{ alertText }}
    </span>
  </div>
</div>
