<div class="input-container" [class]="size" style="margin: 16px 0;">
  <div class="floating-label">
    <input
      [type]="type"
      [value]="value"
      (input)="onInputChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [mask]="mask"
      [disabled]="disabled"
    />
    <label class="hint" [class.float]="shouldLabelFloat()">{{ placeholder }}</label>
  </div>

  <div class="footer-container" *ngIf="isRequired">
    <app-svg-icon class="ic-alert" svgUrl="/assets/icons/ic_warning.svg" color='var(--red-700)'/>
    <span class="required-text">
      Campo obrigatório
    </span>
  </div>

  <div class="footer-container" *ngIf="alertText">
    <app-svg-icon class="ic-alert" svgUrl="/assets/icons/ic_help.svg" color='var(--gray-700)'/>
    <span class="alert-text">
      {{ alertText }}
    </span>
  </div>
</div>