<div *ngIf="consumerUnit; else loading" class="detail-container">
  <app-text class="page-title" text="Detalhes da unidade Consumidora" size="large"></app-text>
  <div class="content-split">
    <!-- Informações -->
    <div class="info-section">
      <div class="info-line">
        <div>
          <app-text class="identification" text="Identificador" [bold]="true" size="small"></app-text>
          <app-text class="id_identification" [text]="consumerUnit.id.toString()" size="small"></app-text>
        </div>
        <div class="status-container">
          <app-text class="status_title" text="Status" [bold]="true" size="small"></app-text>
          <div class="status-indicator">
            <span class="status-dot" [style.background]="getStatusColor()"></span>
            <app-text class="status_text" [text]="consumerUnit.status" size="small"></app-text>
          </div>
        </div>
      </div>

      <div class="container-info">
        <app-text class="title_info_card" text="Informações Cadastrais" [bold]="true" size="xlarge"></app-text>
        <app-text class="name_label" text="Nome" [bold]="true" size="small"></app-text>
        <app-text class="name_text" [text]="consumerUnit.name" size="small"></app-text>

        <app-text class="classfication_label" text="Classificação" [bold]="true" size="small"></app-text>
        <app-text class="classification_text" [text]="consumerUnit.class" size="small"></app-text>

        <app-text class="account_label" text="Conta" [bold]="true" size="small"></app-text>
        <app-text class="account_text" [text]="consumerUnit.account.toString()" size="small"></app-text>
      </div>
      <app-divider type ="small"></app-divider>
      <div class="location-container">
        <app-text class="title_location_container" text="Localização" [bold]="true" size="xlarge"></app-text>
        <app-text class="address_label" text="Endereço" [bold]="true" size="small"></app-text>
        <app-text class="address" [text]="consumerUnit.street"  size="small"></app-text>
        <app-text class="neiborhood_label" text="Bairro" [bold]="true" size="small"></app-text>
        <app-text class="neiborhood" [text]="consumerUnit.neiborhood"  size="small"></app-text>
        <app-text class="coordinates" [text]="'Lat: ' + consumerUnit.latitude + ' | Lng: ' + consumerUnit.longitude" size="xsmall"></app-text>

      </div>

      <app-button class="bottom" mode="secondary" size="large" [text]="'Editar Unidade'"> </app-button>

    </div>

    <!-- Imagem -->
    <div class="image-section">
      <app-text class="identification" text="Imagem da unidade" size="medium" [bold]="true" ></app-text>
      <img class="image_container" [src]="consumerUnit.imageUrl" [alt]="consumerUnit.name" 
        (click)="toggleImageFullscreen()">

        <app-container-info-date [creationDate]="consumerUnit.createdAt" [updateDate]="consumerUnit.updatedAt">
        </app-container-info-date>

    </div>
  </div>

  <!-- Tela cheia -->
  <div class="fullscreen-overlay" *ngIf="showFullscreen" (click)="toggleImageFullscreen()">
    <img [src]="consumerUnit.imageUrl" class="fullscreen-img" />
  </div>
</div>

<ng-template #loading>
  <div class="loading-container">
    <p>Carregando detalhes...</p>
  </div>
</ng-template>