.svg-icon-container {
  display: block; /* Remove espaçamento extra */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove preenchimentos */
  border: none; /* Remove bordas */
  outline: none; /* Remove contornos */
}