<div class="header-container">
  
  <div class="account-section">
    <div class="icon-container">
      <div *ngIf="loadingImage" class="logo-loading">
        <mat-spinner diameter="40"></mat-spinner>
      </div>

      <img *ngIf="hasLogo() && !loadingImage" class="logo" [src]="accountLogo" alt="Account logo"
        (error)="imageLoadError = true; accountLogo = undefined">
    </div>

    <div class="account-info">
      <span class="label">Conta</span>
      <div class="name">{{ accountName }}</div>
      <a *ngIf="accountUrl" class="url" [href]="accountUrl" target="_blank">
        {{ accountUrl }}
      </a>
    </div>
  </div>

  <div class="module-section">
    <div class="icon-container">
      <img *ngIf="moduleSelected?.iconUrl" [src]="moduleSelected?.iconUrl" alt="Module icon" class="logo">
    </div>

    <div class="module-info">
      <span class="label">Módulo</span>
      <div class="name">{{ moduleSelected?.name }}</div>
    </div>
  </div>

  <!-- Botão de Alteração -->
  <div class="change-button">
    <app-button mode="primary" size="medium" [text]="'Alterar'" (clicked)="onChangeAccount()"></app-button>
  </div>
</div>

<!-- Loading -->
<app-loading [isLoading]="isLoading"></app-loading>

<!-- Modal de Seleção -->
<div *ngIf="showDropdownSelector && !isLoading" class="modal-overlay">
  <div class="modal-content">
    <div class="close-wrapper">
      <button class="close-button" (click)="fecharModal()">✕</button>
    </div>

    <div class="form-section">
      <app-dropdown 
        [options]="accountOptions" 
        placeholder="Selecione a conta" 
        [control]="form.get('selected_account')!"
        formControlName="selected_account">
      </app-dropdown>

      <app-module-dropdown 
        [modules]="modules" 
        formControlName="selected_module"
        [control]="form.get('selected_module')!"
        [disabled]="!form.get('selected_account')?.value">
      </app-module-dropdown>
    </div>
  </div>
</div>