<div class="input-container" [class]="size">
  <div class="floating-label">
    <input
      type="text"
      [value]="displayText"
      (input)="onInputChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [class.invalid]="control.invalid && control.touched"
    />
    <label [class.float]="shouldLabelFloat()">{{ placeholder }}</label>
    <div class="dropdown-list" *ngIf="isDropdownVisible">
      <div
        class="dropdown-option"
        *ngFor="let option of filteredOptions"
        (mousedown)="selectOption(option)"
      >
        {{ option.name }}
      </div>
    </div>
  </div>



  <div class="footer-container" *ngIf="control.invalid && isRequired">
    <app-svg-icon class="ic-alert" svgUrl="/assets/icons/ic_warning.svg" color='var(--red-700)'/>
    <span class="required-text">
      Campo obrigatório
    </span>
  </div>

  <!-- Container para Alertas Genéricos -->
  <div class="footer-container" *ngIf="!isRequired && alertText">
    <app-svg-icon class="ic-alert" svgUrl="/assets/icons/ic_help.svg" color='var(--gray-700)'/>
    <span class="alert-text">
      {{ alertText }}
    </span>
  </div>