.input-dropdown {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 99%;
  box-sizing: content-box;
}

.dropdown-list {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: var(--gray-100);
  margin-top: 4px;
  z-index: 1000;
  box-sizing: content-box;
}

.floating-label {
  position: relative;
  display: relative;
  align-items: center;
  width: 100%;
}

.dropdown-arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.rotated {
  transform: translate(0%, -50%) rotate(180deg);
}

input {
  padding-right: 32px;
}

.hint {
  color: var(--gray-500);
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px 8px 8px 12px;
  background: transparent;
  width: 100%;
  outline: none;
  color: var(--text-color);
  caret-color: var(--text-color);
}

label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  pointer-events: none;
  background: var(--background-color);
  padding: 0 4px;
}

label.float {
  top: -8px;
  font-size: 0.90rem;
  background-color: var(--background-color);
  color: var(--text-color);
  transform: translateY(0);
}

.dropdown-option {
  padding: 8px 8px;
  cursor: pointer;
}

.dropdown-option:hover {
  background: var(--gray-700);
  color: var(--white);
}

.hint-container {
  margin-top: 4px;
}

.hint-text {
  font-size: 0.75rem;
  color: #666;
}

.footer-container {
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.ic-alert {
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 16px;
  width: 16px;
}

.alert-text {
  font-size: 0.75rem;
  color: #666;
}

.required-text {
  font-size: 0.75rem;
  color: var(--red-500);
}

.input-container.small input {
  height: 32px;
  font-size: 0.875rem;
}

.input-container.medium input {
  height: 40px;
}

.input-container.large input {
  height: 48px;
  font-size: 1.125rem;
}