@import './app/desing-system/styles/colors.scss';

/* Definindo o estilo global para o tema claro */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Usando as variáveis no estilo global */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Para uma transição suave entre os temas */
  }

  
  button:hover {
    background-color: var(--button-hover-bg-color);
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #4CAF50; /* verde para sucesso */
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #f44336; /* vermelho para erro */
}

.mat-mdc-snack-bar-container.warning-snackbar {
  --mdc-snackbar-container-color: #FF9800; /* laranja para aviso */
}

.mat-mdc-snack-bar-container.info-snackbar {
  --mdc-snackbar-container-color: #2196F3; /* azul para informação */
}