@import './app/desing-system/styles/colors.scss';

/* Definindo o estilo global para o tema claro */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Usando as variáveis no estilo global */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s; /* Para uma transição suave entre os temas */
  }

  
  button:hover {
    background-color: var(--button-hover-bg-color);
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
