.top-bar {
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  margin: 5px;
  height: 50px;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  background-color: var(--background-color);
}

/* Botão de menu alinhado à esquerda e centralizado verticalmente */
.button_menu {
  width: 25px; /* Largura fixa */
  height: 25px;
  cursor: pointer; 
  margin-left: 10px;
}


/* Estilo para o breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  margin-left: 20px; /* Espaçamento à esquerda */
}

.actions {
  display: flex;
  margin-right: 10px;
  gap: 10px; /* Adiciona espaçamento entre os elementos filhos */
}

.button_dark , .button_light{
  width: 20px;
  height: 20px;
}

.breadcrumbs {
  flex-grow: 1;
  margin-left: 1rem;
  color: var(--gray-800);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.crumb {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home-icon {
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.arrow-icon {
  width: 12px;
  height: 12px;
}

.crumb-text {
  font-size: 0.8rem;
  color: var(--gray-800);
}

.theme-toggle {
  display: flex;
  align-items: center;  
}
