.top-bar {
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  margin: 5px;
  height: 50px;
  display: flex;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  background-color: var(--background-color);
}

/* Botão de menu alinhado à esquerda e centralizado verticalmente */
.button_menu {
  width: 25px; /* Largura fixa */
  height: 25px;
  cursor: pointer; 
  margin-left: 10px;
}



/* Estilo para o breadcrumb */
.breadcrumb {
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  margin-left: 20px; /* Espaçamento à esquerda */
}

.actions {
  display: flex;
  margin-right: 10px;
  align-items: center;
  margin-left: auto;
  gap: 10px; /* Adiciona espaçamento entre os elementos filhos */
}

