<div class="top-bar">
  <!-- Botão para alternar o menu lateral -->
  <app-svg-icon class="button_menu" [color]="'var(--gray-800)'" (click)="toggleSidebar()" [svgUrl]="'/assets/icons/ic_menu.svg'"></app-svg-icon>

  <div class="breadcrumbs">
    {{ breadcrumbs.join(' > ') }}
  </div>
  
  <!-- Botões de tema e logout -->
  <div class="actions">
    <!-- Ícone de tema -->
    <div class="theme-toggle" (click)="toggleTheme()" aria-label="Alterar Tema">
      <img
        *ngIf="isDarkTheme"
        class="button_dark" 
        src="/assets/images/ic_light.svg"
        alt="Light Theme"
        width="20"
        height="20"
      />
      <img
        *ngIf="!isDarkTheme"
        class="button_light" 
        src="/assets/images/ic_dark.svg"
        alt="Dark Theme"
        width="20"
        height="20"
      />
    </div>

    <!-- Ícone de logout -->
    <app-svg-icon class="logout_button" [color]="'var(--gray-800)'" (click)="logout()" [svgUrl]="'/assets/icons/ic_logout.svg'"></app-svg-icon>
  </div>
</div>